<!DOCTYPE html>
<html>
<head>
  <title>PastaMaster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- HEADER -->
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <!-- <a href="" class="navigation-menu-button" id="js-mobile-menu"><span></span></a> -->
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </nav>

    <a href="" class="navigation-menu-button" id="js-mobile-user">User</a>
    <nav role="navigation">
      <ul id="js-navigation-user" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Sign Up", new_user_path %></li>
        <li class="nav-link">
          <% if !logged_in? %>
            <%= link_to "Log in", login_path %>
          <% else %>
            <ul>
              <li>
                <%= form_tag("/logout", method: "delete") do %>
                <%= submit_tag "logout" %>
                <% end %>
              </li>
            </ul>
          <% end %>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
      <% if logged_in?%>
        <%= "LOGGED IN as " + current_user.email %>
      <% end %>
    </div>
  </div>
</header>
<!-- END HEADER -->

<div id="recipe-detail"></div>

<%= yield %>



</body>
</html>
