<!DOCTYPE html>
<html>
<head>
  <title>PastaMaster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- HEADER -->
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <!-- <a href="" class="navigation-menu-button" id="js-mobile-menu"><span></span></a> -->
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </nav>

    <a href="" class="navigation-menu-button" id="js-mobile-user">User</a>
    <nav role="navigation">
      <ul id="js-navigation-user" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Sign Up", new_user_path %></li>
        <li class="nav-link">
          <% if !logged_in? %>
            <%= link_to "Log in", login_path %>
          <% else %>
            <ul>
              <li>
                <%= form_tag("/logout", method: "delete") do %>
                <%= submit_tag "logout" %>
                <% end %>
              </li>
            </ul>
          <% end %>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>


      </div>
<!--         <a href="/users/new" class="sign-up">Sign Up  </a>
 -->        
        <%= icon('fa fa-user fa-4x', class: "sign-up") %>

      </div>


      
      <div class="modal">
        <label for="modal-1">
          <div class="modal-trigger">
            
          </div>
        </label>
        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-close" for="modal-1"></div>
           <head>
  <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>
</head>

  <article class="type-system-sans">
  <h1>About Pasta Masta</h1>
  <h2>"Life is not worth living if I cannot have pasta or bread again." - Monica Seles</h2>
  <p class="date">6 May 2015</p>
  <p>Pasta Masta is an app that aims to enable those less confident cooks to become masters of quick and tasty pasta dishes.
  </p>
  <p>
  The recipes are hand picked for beginning cooks, with minimal ingredients, clear easy-to-follow steps and the option to comment and rate recipes used from the site to help others achieve mastery.
  </p>
  <p>
  Included within the recipes are tips to help assist the budding apprentices to become better each time they cook a recipe. Budding cooks don’t have to join the site, but if they choose to sign up, they will be given the chance to tailor the options for dishes shown during search requests.
  </p>
  <p>
  Suggestions and feedback are most welcome. pastamasta@pastamasta.com  
  </p>
  <p class="author">The Pasta Masta Masters</p>
</article>
          </div>
        </div>
      </div>
      
      <% if logged_in?%>
        <%= "LOGGED IN as " + current_user.email %>
      <% end %>
    </div>
  </div>
</header>
<!-- END HEADER -->

<%= yield %>

<!-- FOOTER -->
<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>

<!-- END FOOTER -->

</body>
</html>
