<!DOCTYPE html>
<html>
<head>
  <title>PastaMasta - Simple pasta dishes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- HEADER -->
  <header>
    <div class="header-logo">
      <h1>PASTA MASTA</h1>
    </div>

    <div class="header-content">
      <div class="header-searchlogo">
        <div class="search-dropdown"><%= icon('fa fa-search fa-3x', class: "search-icon") %></div>
      </div>

      <div class="header-accountlogo">
        <div class="modal">
          <label for="modal-1">
            <div class="modal-trigger">
              <%= icon('fa fa-user fa-4x', class: "sign-up") %>
            </div>
          </label>
          <input class="modal-state" id="modal-1" type="checkbox" />
          <div class="modal-fade-screen">
            <div class="modal-inner">
              <div class="modal-close" for="modal-1"></div>

              <!-- SIGN-UP / LOGIN FORMS -->
              <div class="form-wrap">
                <div class="tabs">
                  <h3 class="login-tab"><a class="active" href="#login-tab-content">Login</a></h3>
                  <h3 class="signup-tab"><a href="#signup-tab-content">Sign Up</a></h3>
                </div><!--.tabs-->

                <div class="tabs-content">
                  <div id="login-tab-content" class="active">
                    <%= form_for :session, remote: true, url: login_path, html: { id: 'login-form'} do |f| %>
                      <p><%= f.email_field :email, class: 'input', placeholder: "Email" %></p>
                      <p><%= f.password_field :password, class: 'input', placeholder: "Password" %></p>
                      
                      <%= f.submit "Login", class: "button" %>
                    <% end %><!--.login-form-->

                    <div class="invalid-login">
                      <p>Your email and/or password were invalid. Please try again.</p>
                    </div><!--.invalid-login-->

                    <div class="help-text">
                      <p><a href="#">Forgot your password?</a></p>
                    </div><!--.help-text-->
                  </div><!--.login-tab-content-->

                  <div id="signup-tab-content">
                    <%= form_tag users_path do %>
                      <p><%= text_field_tag :email, nil, class: 'input', placeholder: "Email" %></p>
                      <p><%= text_field_tag :password, nil, class: 'input', placeholder: "Password", type: 'password' %></p>
                      <p><%= text_field_tag :password_confirmation, nil, class: 'input', placeholder: "Confirm password", type: 'password' %></p>
                      
                      <p><%= submit_tag 'Sign Up', class: 'button' %></p>
                    <% end %><!--.signup-form-->

                    <div class="help-text">
                      <p>By signing up, you agree to our</p>
                      <p><a href="#">Terms of service</a></p>
                    </div><!--.help-text-->
                  </div><!--.signup-tab-content-->
                </div><!--.tabs-content-->
              </div><!--.form-wrap-->
              <!-- END SIGN-UP / LOGIN FORMS -->

            </div><!--.modal-inner-->
          </div><!--.modal-fade-screen-->
        </div><!--.modal-->


      </div><!--.header-accountlogo-->
    </div><!--.header-content-->
  </header>


<div class="header-spacer"></div>


  <div class="search-wrapper">

      <%= image_tag("icons/beef.svg", data: {'filter': "beef"}, class: "search-img", alt: "beef") %>
      <%= image_tag("icons/pork.svg", data: {'filter': "pork"}, class: "search-img", alt: "pork") %>
      <%= image_tag("icons/poultry.svg", data: {'filter': "poultry"}, class: "search-img", alt: "poultry") %>
      <%= image_tag("icons/lamb.svg", data: {'filter': "lamb"}, class: "search-img", alt: "lamb") %>
      <%= image_tag("icons/seafood.svg", data: {'filter': "seafood"}, class: "search-img", alt: "seafood") %>
      <%= image_tag("icons/tomato.svg", data: {'filter': "tomato"}, class: "search-img", alt: "tomato") %>
      <%= image_tag("icons/green.svg", data: {'filter': "green"}, class: "search-img", alt: "green") %>
      <%= image_tag("icons/mushroom.svg", data: {'filter': "mushroom"}, class: "search-img", alt: "mushroom") %>
      <%= image_tag("icons/eggplant.svg", data: {'filter': "eggplant"}, class: "search-img", alt: "eggplant") %>
      <%= image_tag("icons/cream.svg", data: {'filter': "cream"}, class: "search-img", alt: "cream") %>
      <%= image_tag("icons/salad.svg", data: {'filter': "salad"}, class: "search-img", alt: "salad") %>
      <%= image_tag("icons/bake.svg", data: {'filter': "bake"}, class: "search-img", alt: "bake") %>

      <button class="search-execute search-img">Go!</button>
  </div>

  
<%= yield %>

<!-- FOOTER -->
<footer class="footer-2" role="contentinfo">
<div class="footer-links wrapper">

    <div class="footer-primary-links">
      <ul>
        <li>
          <div class="modal">
            <label for="modal-2">
              <div class="modal-trigger">
                About
              </div>
            </label>
            <input class="modal-state" id="modal-2" type="checkbox" />
            <div class="modal-fade-screen">
              <div class="modal-inner">
                <div class="modal-close" for="modal-2">
                  
              </div>
      
                <article class="type-system-sans">
                  <h1>About Pasta Masta</h1>
                  <h2>"Life is not worth living if I cannot have pasta or bread again." - Monica Seles</h2>
                  <p class="date">6 May 2015</p>
                  <p>Pasta Masta is an app that aims to enable those less confident cooks to become masters of quick and tasty pasta dishes.</p>
                  <p>The recipes are hand picked for beginning cooks, with minimal ingredients, clear easy-to-follow steps and the option to comment and rate recipes used from the site to help others achieve mastery.</p>
                  <p>Included within the recipes are tips to help assist the budding apprentices to become better each time they cook a recipe. Budding cooks don’t have to join the site, but if they choose to sign up, they will be given the chance to tailor the options for dishes shown during search requests.</p>
                  <p>Suggestions and feedback are most welcome. pastamasta@pastamasta.com</p>
                  <p class="author">The Pasta Masta Masters</p>
                </article>
              </div>
            </div>
          </div>
        </li>
      
      
        <li><a href="javascript:void(0)">Contact</a></li>
        <li><a href="javascript:void(0)">Products</a></li>
      </ul>
    </div>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>
    </div>

    </div>

      <div class="social-wrapper">
        <ul class="footer-social">
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
            </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
          </a></li>
        </ul>
      </div>

</footer>

<!-- END FOOTER -->

<script>
  $('#login-form').on('ajax:success', function(event, data) {
    if (data.msg[0] === 0) {
      $('.invalid-login').hide();
      // success, so close modal / show home page
      $(".modal-state:checked").prop("checked", false).change();
    } else {
      $('.invalid-login').show();
    }
  });
</script>


</body>
</html>
