<!DOCTYPE html>
<html>
<head>
  <title>PastaMaster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- HEADER -->
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <!-- <a href="" class="navigation-menu-button" id="js-mobile-menu"><span></span></a> -->
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </nav>

    <a href="" class="navigation-menu-button" id="js-mobile-user">User</a>
    <nav role="navigation">
      <ul id="js-navigation-user" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Sign Up", new_user_path %></li>
        <li class="nav-link">
          <% if !logged_in? %>
            <%= link_to "Log in", login_path %>
          <% else %>
            <ul>
              <li>
                <%= form_tag("/logout", method: "delete") do %>
                <%= submit_tag "logout" %>
                <% end %>
              </li>
            </ul>
          <% end %>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>


      </div>
<!--         <a href="/users/new" class="sign-up">Sign Up  </a>
 -->        
        <%= icon('fa fa-user fa-4x', class: "sign-up") %>

      </div>


      
      <div class="modal">
        <label for="modal-1">
          <div class="modal-trigger">
            
          </div>
        </label>
        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-close" for="modal-1"></div>
            <h1>Modal Title</h1>
            <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
            <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
          </div>
        </div>
      </div>
      
      <% if logged_in?%>
        <%= "LOGGED IN as " + current_user.email %>
      <% end %>
    </div>
  </div>
</header>
<!-- END HEADER -->

<%= yield %>

<!-- FOOTER -->
<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>

<!-- END FOOTER -->

</body>
</html>
